.App {
  background-color: #ffcc00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;

  .external {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
}
