.App {
  background-color: #ffcc00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  gap: 9px;
  line-height: 1.5;

  a {
    color: initial;
  }

  .header {
    width: 85vw;
    max-width: 540px;
    text-align: justify;
  }

  .example {
    display: flex;
    width: 85vw;
    max-width: 540px;
    align-items: center;

    div {
      min-width: 0;
    }
  }

  textarea {
    width: 80vw;
    max-width: 500px;
    padding: 18px;
    margin: 18px 0;
    resize: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .external {
    display: flex;
    align-items: baseline;
    gap: 18px;
    margin: 18px;
    padding: 9px;
  }
}
