.react-deutschbox {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-deutschbox input {
  display: none !important;
}

.react-deutschbox .box {
  width: 11px;
  height: 11px;
  border: 1px solid gray;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 2.5px;
}

.react-deutschbox .box.unchecked,
.react-deutschbox .box.checked {
  background-color: white;
}

.react-deutschbox .box.checked::after {
  color: var(--color, Highlight);
  -webkit-text-stroke: 1px var(--color, Highlight);
  content: "╳";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}

.react-deutschbox .box.dechecked,
.react-deutschbox .box.rechecked {
  background-color: var(--color, Highlight);
}

.react-deutschbox .box.rechecked::after {
  border: 1px solid var(--color, Highlight);
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  pointer-events: none;
}

.react-deutschbox label {
  left: 30px;
  top: -2px;
}
