.react-deutschbox {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-deutschbox input {
  display: none !important;
}

.react-deutschbox .box {
  width: var(--size, 11px);
  height: var(--size, 11px);
  border: 1px solid gray;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 2.5px;
}

.react-deutschbox .box.unchecked,
.react-deutschbox .box.checked {
  background-color: white;
}

.react-deutschbox .box.checked::after {
  color: var(--color, Highlight);
  -webkit-text-stroke: 1px var(--color, Highlight);
  font-size: var(--size, 11px);
  margin-top: calc(var(--size, 11px) / -25);
  font-weight: bold;
  content: "╳";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-deutschbox .box.dechecked,
.react-deutschbox .box.rechecked {
  background-color: var(--color, Highlight);
}

.react-deutschbox .box.rechecked::after {
  border: calc(var(--size, 11px) / 11) solid var(--color, Highlight);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(1.5 * var(--size, 11px));
  height: calc(1.5 * var(--size, 11px));
  border-radius: 50%;
  pointer-events: none;
}

.react-deutschbox label {
  left: calc(25px + var(--size, 11px));
  bottom: calc(var(--size, 11px) * 0.5 - 7px);
}
