.react-deutschbox {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-deutschbox button {
  position: relative;
  width: var(--size, 13px);
  height: var(--size, 13px);
  margin: calc(var(--size, 13px) * 0.25);
  border: 1px solid #767676;
  border-radius: 2.5px;
  padding: 0;
}

.react-deutschbox button:disabled {
  opacity: 0.5;
}

.react-deutschbox button:hover:not(:disabled) {
  border-color: #4f4f4f;
  cursor: pointer;
}

.react-deutschbox button.unchecked,
.react-deutschbox button.checked {
  background-color: white;
}

.react-deutschbox button.checked::after {
  position: absolute;
  color: var(--color, Highlight);
  -webkit-text-stroke: 1px var(--color, Highlight);
  font-weight: bold;
  font-size: var(--size, 13px);
  content: "╳";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-deutschbox button.dechecked,
.react-deutschbox button.rechecked {
  background-color: var(--color, Highlight);
}

.react-deutschbox button.rechecked::after {
  position: absolute;
  border-width: calc(var(--size, 13px) / 13);
  border-style: solid;
  border-color: var(--color, Highlight);
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(1.5 * var(--size, 13px));
  height: calc(1.5 * var(--size, 13px));
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

.react-deutschbox label {
  left: calc(var(--size, 13px) + 13px);
  bottom: calc(var(--size, 13px) * 0.5 - 13px);
  margin: calc(var(--size, 13px) * 0.25);
  z-index: 2;
}
